.snakemake
SRR1976948.abundtrim.fq.gz
SRR606249.k31.abundtrim.fq.gz
bcalm.podar-ref.k31.inputlist.txt
bcalm.podarV.k31.inputlist.txt
bcalm_to_gxt.log
podar-ref/
podar-ref_k31_r1/
podar-ref_k31_r1_search_oh0/
podarV/
bacteroides/
bcalm.hu-s1.k31.inputlist.txt
denticola/
fuso/
gingivalis/
hu-genomes/
hu-s1/
hu-s1_k31_r1/
hu-s1_k31_r1_search_oh0/
podar-ref_k31_r1_cdbg/
podar-ref_k31_r1_cdbg_search_oh0/
podarV_k31_r1/
podarV_k31_r1_search_oh0/
podarV_k31_r1_search_oh0_ruminis/
ruminis-combined-node-list.txt.gz
ruminis/
