.snakemake
SRR1976948.abundtrim.fq.gz
SRR606249.k31.abundtrim.fq.gz
bcalm.podar-ref.k31.inputlist.txt
bcalm.podarV.k31.inputlist.txt
bcalm_to_gxt.log
podar-ref/
podar-ref_k31_r1/
podar-ref_k31_r1_search_oh0/
podarV/
bacteroides/
bcalm.hu-s1.k31.inputlist.txt
denticola/
fuso/
gingivalis/
hu-genomes/
hu-s1/
hu-s1_k31_r1/
hu-s1_k31_r1_search_oh0/
podar-ref_k31_r1_cdbg/
podar-ref_k31_r1_cdbg_search_oh0/
podarV_k31_r1/
podarV_k31_r1_search_oh0/
podarV_k31_r1_search_oh0_ruminis/
ruminis-combined-node-list.txt.gz
ruminis/
bacteroides.csv
denticola.csv
fuso-combined-node-list.txt.gz
fuso.reads.fa
gingivalis.csv
podarV_k31_r1_search_oh0_bacteroides/
podarV_k31_r1_search_oh0_denticola/
podarV_k31_r1_search_oh0_fuso/
podarV_k31_r1_search_oh0_gingivalis/
ruminis.reads.fa
bacteroides.x.contigs.cont.csv
denticola.x.contigs.cont.csv
fuso.assembly/
gingivalis.x.contigs.cont.csv
ruminis.assembly/
checkm.plass.bins
checkm.plass.out
megahit.plass.bins
megahit.plass.out
